.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 350px;
    height: 450px;
    color: hsl(232, 13%, 33%);
    h1 {
        display: flex;
        align-items: center;
        font-size: 7rem;
        margin: 20px 0;

        span {
            font-size: 4rem;
            margin-right: 10px;
        }
    }

    h5 {
        font-size: 1.8rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        width: 100%;
        li {
            text-align: center;
            width: 100%;
            font-size: 1.5rem;
            padding: 15px 0;
            border-bottom: hsl(234, 14%, 74%) 1px solid;
            color: hsl(233, 13%, 49%);
        }

        li:first-child {
            border-top: hsl(234, 14%, 74%) 1px solid;
        }        

    }
    
    button {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        color: white;
        background: linear-gradient(to right,  hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 5px;
        padding: 15px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
          color: hsl(237, 63%, 64%);
          border: 1px solid hsl(237, 63%, 64%);
          background: white;
           
        }
    }

    @media only screen and (max-width: 400px) { 
        width: 100%;
        margin-bottom: 40px;
    }
}

.card:nth-child(2) {
    background: linear-gradient(to bottom right,  hsl(236, 72%, 79%), hsl(237, 63%, 64%));;
    color: white;
    height: 500px;

    ul li {
        color: white;
    }

    button {
        color: hsl(237, 63%, 64%);
        background: white;
        
        &:hover {
            color: white;
            border: 1px solid white;
            background: none;
             
          }
    }
}