
.top-toggle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(233, 13%, 49%);
    margin-top: 70px;
    width: 100%;
    h3 {
        font-size: 3rem;
    }
    .toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        width: 15%;
        h5 {
            font-size: 1.4rem;
            color: hsl(234, 14%, 74%);
        }

        .toggle-btn {
            cursor: pointer;
            position: relative;
            width: 55px;
            padding: 4px;
            border-radius: 20px;
            background: linear-gradient(to right,  hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            border: none;

            &:focus {
                outline: none;
            }

            .circle {
                background-color: white;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                transition: transform 0.1s;
            }

            // animates the toggle button
            .active {
                transform: translateX(23px);
                transition: transform 0.1s;
            }

            &:hover {
                background: linear-gradient(to right,  hsla(236, 72%, 79%, 0.5), hsla(237, 63%, 64%, 0.5));
            }
        }
    }
}